body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
section {
  height: 500px;
  padding-bottom: 100px;
}
h1 {
  font-size: 50px;
}
.half-width img {
  width: 100%;
  margin-top: 30px;
}
.top-banner {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
span {
  color: orangered;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.anchor-button {
  padding: 10px 40px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-image: linear-gradient(#ffc021, #ff2b7e);
  border: none;
  border-radius: 5px;
  text-decoration: none;
 
}

.dream-big {
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
p {
  color: dimgray;
}
.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.experience-area h3 {
  color: orangered;
}
.experience-area div {
  box-shadow: 10px 10px 40px rgb(212, 207, 207);
  border-radius: 15px;
  height: 80%;
}
h2 {
  font-size: 40px;
}
#full-web {
  border-image: linear-gradient(#fe8c00, #f83600);
  border-left: 7px solid;
  border-image-slice: 1;
}
#baby-web {
  border-left: 7px solid;
  border-image: linear-gradient(#43cea2, #185a9d);
  border-image-slice: 1;
}
footer {
  text-align: center;
}
